<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class = "oval"></div>
    <div class = "top"> </div>
    <div class = "cov">
        <a class = "cov" href = "index.html"><b>COVID-19</b></a></div>
    <div align = "right" class = "navb">
      <nav>
        <ul>
           <li><a class = "navt" href="index.html">Home</a></li>
           <li><a class = "navt" href="/html/">Symptoms</a></li>
           <li><a class = "navt" href="/html/">Join us</a></li>
           <li><a class = "navt" href="/html/">Donate</a></li>
        </ul>
        </nav>
    </div>

</body>

</html>