    *{
        margin:0px;
        padding:0px;
    }

    .top {
        position:absolute;
        height: 200px;
        width: 100%;
        background-image: linear-gradient(to right, #F34236 , #D32F2F);

    }

    .oval {
        position:absolute;
      height: 500px;
      width: 100%;
      background-image: linear-gradient(to right, #F34236 , #D32F2F);
      border-radius: 18%;
    }

    .text{
        font-family: "Rubik", sans-serif;
        color : rgb(255, 255, 255);
    }

    nav ul {
        margin: 0px;
        padding: 24px 0px 5px 30px;
    }
    
    nav li {
        margin-right: 40px;
        list-style: none;
        text-decoration: none;
        display: inline;
    }
    
    nav li a {
        text-decoration: none;
    }

    .navt{
        position: relative;
        text-align: center;
        font-size: 15px;
        color : rgb(255, 255, 255);
        text-decoration: none;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-transform: capitalize;
        text-decoration: rgb(255, 255, 255);
        text-align: left;
        text-indent: 0px;
    
    }
    .navb{
        position: relative;
        text-align: left;
        font-size: 15px;
        color : rgb(255, 255, 255);
        text-decoration: none;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-transform: capitalize;
        text-decoration: rgb(255, 255, 255);
        text-align: left;
        text-indent: 0px;
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 65%;
        position: absolute;
        text-align : right;
    }

    .cov{
        position: absolute;
        text-align: center;
        font-size: 28px;
        color : rgb(255, 255, 255);
        text-decoration: none;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-transform: capitalize;
        text-decoration: rgb(255, 255, 255);
        text-align: left;
        text-indent: 0px;
        padding-top: 19px;
        padding-left: 18%;
        text-decoration: none;
    }