    *{
        margin:0px;
        padding:0px;
    }

    .top {
        position:absolute;
        height: 200px;
        width: 100%;
        background-color: #F44336;

    }

    .oval{
        position:absolute;
        height: 500px;
        width: 100%;
        background-color: #F44336;
        border-radius: 28%;
    }

    .text{
        font-family: "Rubik", sans-serif;
        color : rgb(255, 255, 255);
    }

    .navb{
        position:absolute;
        align-items: center;
        width: 100%;
        height : 50px;

    }

    nav ul {
        margin: 0px;
        padding: 24px 0px 5px 30px;
    }
    
    nav li {
        margin-right: 40px;
        list-style: none;
        text-decoration: none;
        display: inline;
    }
    
    nav li a {
        text-decoration: none;
    }

    .navt{
        position: relative;
        text-align: center;
        font-size: 15px;
        color : rgb(255, 255, 255);
        text-decoration: none;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-transform: capitalize;
        text-decoration: rgb(255, 255, 255);
        text-align: left;
        text-indent: 0px;
    
    }
    .nav{
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 65%;
        position: absolute;
        text-align : right;
    }